p {
    color:green;
    font-size: 30px;
}

body {
    /*background-image: url(./CSS.png);
    background-position: 10px 30px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 450px 450px;*/
    background-color: aquamarine;
}

ul {
    /*list-style-type: lower-alpha;
    list-style-position: outside;*/
    list-style-image: url(./CSS.png);
}